body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 100px 80px;
}

.wrapper p:first-child {
    margin-bottom: 20px;
}

.wrapper p:nth-child(2) {
    margin-bottom: 25px;
}

.page-link {
    color: #ea6616;
    text-decoration: none;
}

.strong {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.wrapper h1 {
    font-size: 2.3rem;
    font-weight: 500;
    color: #3E3F40;
    margin-bottom: 25px;
}

.register-form h2 {
    font-size: 1.8rem;
    font-weight: 100;
    color: #3E3F40;
    margin-bottom: 40px;
}

.field {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0 -4px 35px 0;
}

fieldset {
    border: none;
    padding: 0;
}

legend[for="sex"] {
    margin-bottom: 10px;
}

.checkbox input {
    position: relative;
    top: 1px;
    margin: 0 5px 15px 0;
    outline: none;
}

label {
    display: block;
    margin-bottom: 5px;
}

p,
.field legend,
label,
.checkbox,
.terms {
    color: #707274;
    font-size: 0.9rem;
    list-style: none;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #b5b6b7;
    color: #707274;
    width: 80%;
    outline: none;
}

select {
    outline: none;
}

.save-btn {
    background-color: #ea6616;
    color: #fff;
    border-radius: 3px;
    border: none;
    display: block;
    margin: 0 auto 15px auto;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
}

.terms {
    float: right;
}


/*
    ====================
    FOOTER
    ====================
*/

footer {
    background-color: #3E3F40;
    width: 100%;
    height: 300px;
    padding: 100px;
}

.footer-wrapper {
    width: 80%;
    height: 110px;
    margin: 0 auto;
}

.footer-wrapper h3 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 15px;
}

.links {
    float: left;
}

.links a {
    font-weight: 100;
    color: #b5b6b7;
    line-height: 25px;
    text-decoration: none;
    display: block;
}

.social-media {
    text-align: center;
    float: right;
}

.social {
    margin-right: 15px;
}

.social:last-child {
    margin: 0;
}

.facebook,
.instagram,
.twitter,
.youtube {
    background-image: url("../images/social-media.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 50px;
}

.facebook {
    background-position: 3px 5px;
    width: 30px;
    height: 50px;
}

.instagram {
    background-position: -23px 5px;
}

.twitter {
    background-position: -39px 5px;
    background-size: 450%;
}

.youtube {
    background-position: -46px 2px;
    background-size: 230%;
}